.container {
  .footer {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 964px){
      flex-wrap: wrap;
    }

    .box_left {
      @media(max-width: 964px){
        flex: 1 0 100%;
        margin-bottom: 40px;
      }
        img{
            margin-bottom: 20px;
        }
      flex: 0 0 329px;
      p {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: -0.03em;
        color: #ffffff;
        opacity: 0.5;
      }
    }
    .box_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
      ul {
        padding-bottom: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 54px;
        @media(max-width: 614px){
          flex-wrap: wrap;
          justify-content: space-evenly;
          gap: 20px;
        }
        li {
          @media(max-width: 614px){
            flex-wrap: wrap;
          }
          a {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            color: #ffffff;
            @media(max-width: 1192px){
              font-size: 14px;
            }
            @media(max-width: 614px){
              font-size: 12px;
            }
          }
        }
      }
      .bottom {
        border-top: 1px solid rgba(128, 128, 128, 0.219);
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        p {
          font-family: "Plus Jakarta Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.03em;
          color: #ffffff;
          @media(max-width: 614px){
            font-size: 9px;
          }
        }
      }
    }
  }
}
